---
layout: default
permalink: /it/
lang: it
ref: index
redirect_from:
 - /
---

{% include hero.html %}

{% include about.html %}

{% comment %}
{% include video.html %}
{% endcomment %}

{% comment %}
{% include foto.html %}
{% endcomment %}

{% comment %}
{% include partner-precedenti.html %}
{% endcomment %}

{% include statistic.html %}

{% include latest-news.html %}

{% comment %}
{% include countdown.html %}
{% endcomment %}

{% comment %}
{% include rockstar-speakers.html %}
{% endcomment %}

{% include location-map.html %}

{% include venue.html %}

{% include tickets-2.html %}

{% include twitter-feed.html %}

{% comment %}
{% include partners.html %}
{% endcomment %}

{% comment %}
{% include subscribe.html %}
{% endcomment %}

{% comment %}
{% include tickets.html %}
{% endcomment %}
