<!-- Begin Video Secion-->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
					<h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">PGDay.IT 2018 - Lazise, 29/06/2018 - Video</h4>
				</div>
    </div>
<span>
<iframe width="500" height="400" src="https://www.youtube.com/embed/jCz0d0NObhk">
</iframe>
<iframe width="500" height="400" src="https://www.youtube.com/embed/a82H732nq0s">
</iframe>
<iframe width="500" height="400" src="https://www.youtube.com/embed/playlist?list=PLQ_GE2rgNkg8NMCUAiCSmd_NkjMI_8Iu8">
</iframe>
</span>
<!-- End Video Section -->
